@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    This application is running on the following server @Environment.MachineName
    
    <p>
        This is a sample demo - victory!!!
    </p>
</div>